body {
    background-color: #BFAAAA
}
h1{
    text-align: center;
}
.container {
    /* background-color: blue;   */
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    


}
img {
    width: 200px;
     height: 300px;  
     border-radius: 60px; 
    display: flex;
    object-fit: cover;
     margin-top: auto; 
    margin-bottom: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
   
}
.card-front{ /* esto es las tarjatas de colores*/
    width: 200px;
    height: 400px;
    margin: 2px;
    border-radius: 100px;
    display: flex;
    align-items: flex-end;  /* se alinea abajo*/
    justify-content: space-between; 
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    overflow: hidden; /*la imagen se queda dentro de ka tarjeta*/
   
}

.morada {
    background-color: #592851;
}
.violeta {
    background-color: #732F6E;
}
.verdec {
    background-color:#A8BFBB ;
}
.verdeo {
background-color:#86A694 ;
}
.rosa {
background-color:#BFAAAA ;
}
.name{
text-align: center;
margin: 1px;
color: white;

}