body {
    /* display: flex; */
    background-color: #592851;
}


.index{
    /* display: flex; */
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* qué hace*/

}

.index svg { 
    width: 60%;
    height: 100%;
    object-fit: contain;
    display: block;
    box-sizing: border-box;
}

circle:hover {
  animation-play-state: paused;
}

.info-section {
  width: 40%;
  height: 100%;
  padding: 2rem;
  margin: 0;
  background-color: #FDF6E2;
  border-radius: 30px;
}

.imagen-fluor{
    /* width: 200px;
    x:38%; 
    y:38; 
    width: 24%; 
    height:24%;  */
}

text{
    font-family:"Baloo 2", sans-serif;
}